################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Client_c++/Client_test_1/.vs
/Client_c++/Client_test_1/x64/Debug/Client_test_1.tlog/CL.command.1.tlog
/Client_c++/Client_test_1/x64/Debug/Client_test_1.tlog/CL.read.1.tlog
/Client_c++/Client_test_1/x64/Debug/Client_test_1.tlog/CL.write.1.tlog
/Client_c++/Client_test_1/x64/Debug/Client_test_1.tlog/link.read.1.tlog
/Client_c++/Client_test_1/x64/Debug/Client_test_1.tlog/link.write.1.tlog
/Client_c++/Client_test_1/x64/Debug/Circle.obj
/Client_c++/Client_test_1/x64/Debug/Client.obj
/Client_c++/Client_test_1/x64/Debug/Client_test_1.Build.CppClean.log
/Client_c++/Client_test_1/x64/Debug/Client_test_1.exe
/Client_c++/Client_test_1/x64/Debug/Client_test_1.ilk
/Client_c++/Client_test_1/x64/Debug/main.obj
/Client_c++/Client_test_1/x64/Debug/CrossInfo.obj
/Client_c++/Client_test_1/x64/Debug/Game.obj
/Client_c++/Client_test_1/x64/Debug/Client_test_1.log
/Client_c++/Client_test_1/x64/Debug/Client_test_1.pdb
/Client_c++/Client_test_1/x64/Debug/vc143.idb
/Client_c++/Client_test_1/x64/Debug/vc143.pdb
/Client_c++/Client_test_1/Client_test_1.vcxproj
/Client_c++/Client_test_1/Client_test_1.vcxproj.filters
/Serveur_python/html
